{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>
        {% block title %}
        {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% wagtail_site as current_site %}
        {% if current_site and current_site.site_name %} - {{ current_site.site_name }}{% endif %}
        {% endblock %}
    </title>
    {% if page.search_description %}
    <meta name="description" content="{{ page.search_description }}" />
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicons -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{ MEDIA_URL }}original_images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ MEDIA_URL }}original_images/favicon-16x16.png">
    <link rel="shortcut icon" href="{{ MEDIA_URL }}original_images/favicon.png">

    {% if request.in_preview_panel %}
    <base target="_blank">
    {% endif %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/aps_site.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/awards.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/gallery.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/global_peptide_groups.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/people.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/peptide_links.css' %}">

    {% block extra_css %}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}

    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{{ MEDIA_URL }}original_images/aps_logo_official.png"
                     alt="American Peptide Society">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mainNavbar">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if request.path == '/' or '/international-peptide-liaison/' in request.path %}active{% endif %}" href="#" id="navHome" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Home
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navHome">
                            <li><a class="dropdown-item" href="{% url 'international_peptide_liaison' %}">International Peptide Liaison</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if '/about/' in request.path or '/research/' in request.path or '/symposia-images/' in request.path or '/proceedings/' in request.path or '/journal/' in request.path or '/global-peptide-groups/' in request.path or '/students/' in request.path or '/postdocs/' in request.path %}active{% endif %}" href="#" id="navExplore" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Explore
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navExplore">
                            <li><a class="dropdown-item" href="{% url 'about' %}">About Us</a></li>
                            <li><a class="dropdown-item" href="{% url 'research_archive' %}">Peptide Publications</a></li>
                            <li><a class="dropdown-item" href="/global-peptide-groups/">Global Peptide Groups</a></li>
                            <li><a class="dropdown-item" href="{% url 'student_index' %}">Student Spotlights</a></li>
                            <li><a class="dropdown-item" href="{% url 'postdoc_index' %}">Peptide Postdocs</a></li>
                            <li><a class="dropdown-item" href="/symposia-images/">Symposia Images</a></li>
                            <li><a class="dropdown-item" href="{% url 'proceedings_index' %}">Symposium Proceedings</a></li>
                            <li><a class="dropdown-item" href="{% url 'journal_index' %}">Our Journal</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if '/people/' in request.path %}active{% endif %}" href="#" id="navPeople" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            People
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navPeople">
                            <li><a class="dropdown-item" href="/people/?view=officers">Officers &amp; Councilors</a></li>
                            <li><a class="dropdown-item" href="/people/?view=past-presidents">Past Presidents</a></li>
                            <li><a class="dropdown-item" href="/people/?view=committees">APS Committees</a></li>
                            <li><a class="dropdown-item" href="/people/student-activities-committee/">Student Activities Committee</a></li>
                            <li><a class="dropdown-item" href="/people/in-memoriam/">In Memoriam</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if '/awards/' in request.path %}active{% endif %}" href="#" id="navAwards" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Awards
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navAwards">
                            <li><a class="dropdown-item" href="/awards/?award=merrifield">Merrifield Award</a></li>
                            <li><a class="dropdown-item" href="/awards/?award=duvigneaud">Vincent du Vigneaud Award</a></li>
                            <li><a class="dropdown-item" href="/awards/?award=goodman">Murray Goodman Award</a></li>
                            <li><a class="dropdown-item" href="/awards/?award=makineni">Rao Makineni Lectureship</a></li>
                            <li><a class="dropdown-item" href="/awards/?award=early-career">APS Early Career Lectureship</a></li>
                            <li><a class="dropdown-item" href="/awards/?award=hirschmann">ACS Ralph F. Hirschmann Award</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if '/peptide-links/' in request.path %}active{% endif %}" href="/peptide-links/">PeptideLinks</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navMembership" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Membership
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navMembership">
                            <li><a class="dropdown-item" href="#">Membership Information</a></li>
                            <li><a class="dropdown-item" href="#">Membership Application</a></li>
                            <li><a class="dropdown-item" href="#">Your Account</a></li>
                            <li><a class="dropdown-item" href="#">Login</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="site-footer mt-5 py-4" style="background-color: var(--aps-footer);">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-white mb-3">
                    <h5>American Peptide Society</h5>
                    <p class="small" style="color: rgba(255,255,255,0.8);">
                        Advancing peptide science through research, education, and collaboration.
                    </p>
                </div>
                <div class="col-md-4 text-white mb-3">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled small" style="color: rgba(255,255,255,0.8);">
                        <li><a href="#" class="text-white-50">About Us</a></li>
                        <li><a href="#" class="text-white-50">Membership</a></li>
                        <li><a href="#" class="text-white-50">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-4 text-white mb-3">
                    <h5>Connect</h5>
                    <p class="small" style="color: rgba(255,255,255,0.8);">
                        <i class="bi bi-envelope me-2"></i> info@americanpeptidesociety.org
                    </p>
                </div>
            </div>
            <hr style="border-color: rgba(255,255,255,0.2);">
            <div class="row">
                <div class="col-12 text-center">
                    <p class="small mb-0" style="color: rgba(255,255,255,0.6);">
                        &copy; {% now "Y" %} American Peptide Society. All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/aps_site.js' %}"></script>

    {% block extra_js %}
    {% endblock %}
</body>
</html>
